<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${userTo}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{login}" placeholder="Login"
                               class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('info')}" th:errors="*{info}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{info}"
                               placeholder="Info" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{name}"
                               placeholder="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{surname}"
                               placeholder="Surname" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{patronymic}"
                               placeholder="Patronymic" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('mobilePhone')}" th:errors="*{mobilePhone}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{mobilePhone}"
                               placeholder="MobilePhone" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('homePhone')}" th:errors="*{homePhone}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{homePhone}"
                               placeholder="HomePhone" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label	th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                  class="validation-message"></label>
                        <input type="text" th:field="*{address}"
                               placeholder="Address" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>